# {{ ansible_managed }}

# Debian {{ apt_distro }} repos
deb https://archive.debian.org/debian {{ apt_distro }} {% for apt_comp in apt_debian_components %}{{ apt_comp }}{% if not loop.last %} {% endif %}{% endfor %}

deb https://archive.debian.org/debian {{ apt_distro }}-updates {% for apt_comp in apt_debian_components %}{{ apt_comp }}{% if not loop.last %} {% endif %}{% endfor %}

deb https://archive.debian.org/debian-security {{ apt_distro }}/updates {% for apt_comp in apt_debian_components %}{{ apt_comp }}{% if not loop.last %} {% endif %}{% endfor %}

{% if apt_backports | bool %}
deb http://archive.debian.org/debian {{ apt_distro }}-backports {% for apt_comp in apt_debian_components %}{{ apt_comp }}{% if not loop.last %} {% endif %}{% endfor %}
{% endif %}

# vim: ft=debsources
