# {{ ansible_managed }}

# Debian {{ apt_distro }} repos
deb https://deb.debian.org/debian {{ apt_distro }} {% for apt_comp in apt_debian_components %}{{ apt_comp }}{% if not loop.last %} {% endif %}{% endfor %}
{% if apt_src %}
deb-src https://deb.debian.org/debian {{ apt_distro }} {% for apt_comp in apt_debian_components %}{{ apt_comp }}{% if not loop.last %} {% endif %}{% endfor %}
{% endif %}

deb https://deb.debian.org/debian {{ apt_distro }}-updates {% for apt_comp in apt_debian_components %}{{ apt_comp }}{% if not loop.last %} {% endif %}{% endfor %}
{% if apt_src %}
deb-src https://deb.debian.org/debian {{ apt_distro }}-updates {% for apt_comp in apt_debian_components %}{{ apt_comp }}{% if not loop.last %} {% endif %}{% endfor %}
{% endif %}

deb https://deb.debian.org/debian-security {{ apt_distro }}/updates {% for apt_comp in apt_debian_components %}{{ apt_comp }}{% if not loop.last %} {% endif %}{% endfor %}
{% if apt_src %}
deb-src https://deb.debian.org/debian-security {{ apt_distro }}/updates {% for apt_comp in apt_debian_components %}{{ apt_comp }}{% if not loop.last %} {% endif %}{% endfor %}
{% endif %}

{% if apt_backports %}
deb https://deb.debian.org/debian {{ apt_distro }}-backports {% for apt_comp in apt_debian_components %}{{ apt_comp }}{% if not loop.last %} {% endif %}{% endfor %}
{% if apt_src %}
deb-src https://deb.debian.org/debian {{ apt_distro }}-backports {% for apt_comp in apt_debian_components %}{{ apt_comp }}{% if not loop.last %} {% endif %}{% endfor %}
{% endif %}
{% endif %}

# vim: ft=debsources
