# {{ ansible_managed }}

# Debian {{ apt_distro }} repos

Types: deb
URIs: https://{{ apt_debian_domain }}/debian
Suites: {{ apt_distro }} {{ apt_distro }}-updates
Components: {% for apt_comp in apt_debian_components %}{{ apt_comp }}{% if not loop.last %} {% endif %}{% endfor %}

Signed-By: /usr/share/keyrings/debian-archive-keyring.gpg
{% if apt_debian_src %}

Types: deb-src
URIs: https://{{ apt_debian_domain }}/debian
Suites: {{ apt_distro }} {{ apt_distro }}-updates
Components: {% for apt_comp in apt_debian_components %}{{ apt_comp }}{% if not loop.last %} {% endif %}{% endfor %}

Signed-By: /usr/share/keyrings/debian-archive-keyring.gpg
{% endif %}

Types: deb
URIs: https://{{ apt_debian_domain }}/debian-security
Suites: {{ apt_distro }}-security
Components: {% for apt_comp in apt_debian_components %}{{ apt_comp }}{% if not loop.last %} {% endif %}{% endfor %}
Signed-By: /usr/share/keyrings/debian-archive-keyring.gpg

{% if apt_debian_src %}

Types: deb-src
URIs: https://{{ apt_debian_domain }}/debian-security
Suites: {{ apt_distro }}-security
Components: {% for apt_comp in apt_debian_components %}{{ apt_comp }}{% if not loop.last %} {% endif %}{% endfor %}

Signed-By: /usr/share/keyrings/debian-archive-keyring.gpg
{% endif %}

{% if apt_debian_backports %}
Types: deb
URIs: https://{{ apt_debian_domain }}/debian
Suites: {{ apt_distro }}-backports
Components: {% for apt_comp in apt_debian_components %}{{ apt_comp }}{% if not loop.last %} {% endif %}{% endfor %}

Signed-By: /usr/share/keyrings/debian-archive-keyring.gpg
{% if apt_debian_src %}

Types: deb-src
URIs: https://{{ apt_debian_domain }}/debian
Suites: {{ apt_distro }}-backports
Components: {% for apt_comp in apt_debian_components %}{{ apt_comp }}{% if not loop.last %} {% endif %}{% endfor %}

Signed-By: /usr/share/keyrings/debian-archive-keyring.gpg
{% endif %}
{% endif %}

# vim: ft=debsources
