#!/usr/bin/env bash
# {{ ansible_managed }}

set -euo pipefail
DPKG="{{ apt_dpkg }}"

if [[ -f "${DPKG}" ]]; then
  ARCH=$("${DPKG}" --print-architecture)
  jo state=present arch="${ARCH}"
else
  jo state=absent
fi
