# {# j2lint: disable=single-statement-per-line #}{{ ansible_managed }}

# {{ ansible_distribution }} {{ apt_distro }} repos

Types: deb
URIs: http{% if apt_https | bool %}s{% endif %}://{{ apt_domain }}/{{ ansible_distribution | lower }}
Suites: {{ apt_distro }} {{ apt_distro }}-updates
Components: {% for apt_comp in apt_components %}{{ apt_comp }}{% if not loop.last %} {% endif %}{% endfor %}

Signed-By: {{ apt_signed_by }}
{% if apt_src %}

Types: deb-src
URIs: http{% if apt_https | bool %}s{% endif %}://{{ apt_domain }}/{{ ansible_distribution | lower }}
Suites: {{ apt_distro }} {{ apt_distro }}-updates
Components: {% for apt_comp in apt_components %}{{ apt_comp }}{% if not loop.last %} {% endif %}{% endfor %}

Signed-By: {{ apt_signed_by }}
{% endif %}

Types: deb
URIs: http{% if apt_https | bool %}s{% endif %}://{{ apt_domain }}/{{ ansible_distribution | lower }}-security
Suites: {{ apt_distro }}-security
Components: {% for apt_comp in apt_components %}{{ apt_comp }}{% if not loop.last %} {% endif %}{% endfor %}

Signed-By: {{ apt_signed_by }}

{% if apt_src %}

Types: deb-src
URIs: http{% if apt_https | bool %}s{% endif %}://{{ apt_domain }}/{{ ansible_distribution | lower }}-security
Suites: {{ apt_distro }}-security
Components: {% for apt_comp in apt_components %}{{ apt_comp }}{% if not loop.last %} {% endif %}{% endfor %}

Signed-By: {{ apt_signed_by }}
{% endif %}

{% if apt_backports %}
Types: deb
URIs: http{% if apt_https | bool %}s{% endif %}://{{ apt_domain }}/{{ ansible_distribution | lower }}
Suites: {{ apt_distro }}-backports
Components: {% for apt_comp in apt_components %}{{ apt_comp }}{% if not loop.last %} {% endif %}{% endfor %}

Signed-By: {{ apt_signed_by }}
{%     if apt_src %}

Types: deb-src
URIs: http{% if apt_https | bool %}s{% endif %}://{{ apt_domain }}/{{ ansible_distribution | lower }}
Suites: {{ apt_distro }}-backports
Components: {% for apt_comp in apt_components %}{{ apt_comp }}{% if not loop.last %} {% endif %}{% endfor %}

Signed-By: {{ apt_signed_by }}
{%     endif %}
{% endif %}

# vim: ft=debsources
